AWS Ec2 t2.medium

sudo apt update
sudo apt install python3-pip
sudo apt install python3-venv
python3 -m venv airflow_venv
source airflow_venv/bin/activate
sudo pip install pandas
sudo pip  install s3fs
airflow standalone